/*
* {
    border: 1px solid black;
}
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

html, body {  
    margin: 0px;
    background-color: white;
}

/* HEADER CSS */

.header-container {
    width: auto;
    display: inline-block
}

.header {
    margin: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:aliceblue;
    padding: 40px;
    letter-spacing: 2px;
}

.header li, #header-corner {
    padding: 0px 40px;
    font-size: 32px;
}

#header-corner {
    font-size: 64px;
    text-align: left;
    float: left;
    padding: 0;
}

.header li {
    padding: 20px 40px;
    font-size: 32px;
    display: inline;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

/* MAIN */

.main {
    padding-top: 3%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    //font-family: 'Unica One', cursive;
    font-family: 'Muli', sans-serif;

}

#main-title {
    font-size: 80px;
    margin: auto;
    text-align: center;
}


.game-info {
    
    margin: 80px;
}

#roll-id {
    
    font-size: 48px;
    margin-bottom: 20px;
}

.game-info-text{
    
    font-size: 24px;
}

.mid-row-numbers, #won-amount {
    overflow: hidden;
    width: 100%;
    height: 48px;
    border: 0;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 36px;
    margin: auto;
}

.mid-row-info {
    width: 45%;
    font-size: 24px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.spin-button {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: 'Unica One', cursive;
    background-color: powderblue;
    border-radius: 5px;
}

.clicked {
    background-color: aquamarine;
}




