/*
* {
    border: 1px solid black;
}
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

html, body {  
    margin: 0px;
    background-color: white;
}

/* HEADER CSS */

    padding: 64px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    display: inline-block;
}

.header li {
    float: right;
    font-size: 32px;
    display: inline-block;
    margin: 0px 40px;
}

#header-corner {
    font-size: 64px;
    float: left;
}

a, a:visited {
    color: black;
    text-decoration: none;
}


/* MAIN */

    padding: 0;
}

.header li {
    padding: 20px 40px;
    font-size: 32px;
    display: inline;
}

.main {
    padding-top: 3%; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    //font-family: 'Unica One', cursive;
    font-family: 'Muli', sans-serif;
}

h1 {
    
    font-size: 80px;
}




